# Java / Maven build files
target/
*.class
*.jar
*.war
.mvn/

# Python cache and virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
*.egg-info/

# Database file (We ignore the physical DB file, we will just push the CSV and upload script)
data/

# IDE and Editor files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
desktop.ini