# Java stuff to ignore (Junk files)
target/
*.class
*.jar
.mvn/

# Python stuff to ignore (Junk files)
__pycache__/
*.pyc
venv/
.env

# VS Code / IDE stuff to ignore
.idea/
.vscode/
*.iml

# Database file (Only if you made the database permanent)
data/