# Java / Spring Boot build files
target/
*.class
*.jar

# Python cache and virtual environments
__pycache__/
*.py[cod]
venv/
ENV/

# Database file (Keep the CSV, ignore the physical DB file)
data/

# IDE and Editor files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db